{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="container contact_container">
        <div class="">
            <div class="get_in_touch_contents">
                <h1>inscription</h1>
                <p>veuiller remplir ce formulaire</p>
                {{ form_start(form) }}
                    <div>
                        {{ form_row(form.username, {'id':'input_name','attr': {'class': 'form_input input_name input_ph','placeholder':'nom d\'utilisateur...'}}) }}
                        {{ form_row(form.email, {'id':'input_name','attr': {'class': 'form_input input_name input_ph','placeholder':'email...'}}) }}
                        {{ form_row(form.password, {'id':'input_name','attr': {'class': 'form_input input_name input_ph','placeholder':'mot de passe...'}}) }}
                        {{ form_row(form.confirm_password, {'id':'input_name','attr': {'class': 'form_input input_name input_ph','placeholder':'repeter votre mot de passe...'}}) }}

                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">inscription !</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>



    </div>

{%  endblock%}
{% block javascripts %}
    <script src="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/contact_custom.js') }}"></script>
{% endblock %}