{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form_row(form.destination, {'id':'exampleFirstName','attr': {'class': 'form-control form-control-user','placeholder':'destination...'}}) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.date_liv, {'id':'exampleLastName','attr': {'class': 'form-control form-control-user','placeholder':'email...'}}) }}

                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.livreur, {'id':'exampleLastName','attr': {'class': 'form-control form-control-user','placeholder':'email...'}}) }}

                                </div>

                            </div>
                            <button  class="btn btn-primary btn-user btn-block">
                                {{ action }}
                            </button>
                            <hr>

                            {{ form_end(form)}}
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}