{% extends 'back_base.html.twig' %}

{% block title %}ajout categories{% endblock %}

{% block body %}
    <h1>ajout categories</h1>

    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    {{ form_label(form.id_cat,"id_categorie") }}
    {{ form_widget(form.id_cat) }}

    {{ form_label(form.nom,"nom") }}
    {{ form_widget(form.nom) }}

    {{ form_label(form.type,"type") }}
    {{ form_widget(form.type) }}

    <br>
    {{ form_end(form) }}
{% endblock %}
