{% extends 'back_base.html.twig' %}

{% block title %}Hello CategoriePController!{% endblock %}

{% block body %}
<div class="card-body">
    <div class="table-responsive">
    <table border="1" class="table table-bordered"  width="100%" cellspacing="0">
        <thead>
        <th>IDC</th>
        <th>DATE</th>
        <th>PRIX TOTAL</th>
        <th>Update</th>
        <th>Delete</th>
        {% for c in commandes %}
        <tbody>
        <td>
            {{ c.id }}
        </td>
        <td>
            {{ c.date|date("Y/m/d") }}
        </td>
        <td>
            {{ c.prixtotal}}
        </td>
        <td> <a href="{{path('modifier_C',{'id':c.id})  }}">Update</a>  </td>
        <td> <a href="{{path('supprimer_C',{'id':c.id})  }}">Delete</a>  </td>
        {% endfor %}
        </tbody>
    </table>
    <button class="rounded-circle border-0" id="sidebarToggle">
        <a class="nav-link" href="{{ path('ajouter_C') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>ajouter une commande</span></a>
    </button>
    </div>
</div>
{% endblock %}
