{% extends '/front/base.html.twig' %}

{% block title %}Centre index{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('front/plugins/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/styles/single_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/styles/single_responsive.css') }}">

    <div class="container ">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Centre</a></li>
                </ul>
            </div>

        </div>
    </div>
    {% for centre in centres %}
        <div class="container ">
            <div class="row">

            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>{{ centre.nom }}</h2>
                        <h4>{{ centre.email }}</h4>
                        <p>{{ centre.description|length > 50 ? centre.description|slice(0, 25) ~ '...' : centre.description }}</p>
                    </div>
                    <p>ouvre à <strong><span
                                    style="color: red">{{ centre.horaire ? centre.horaire|date('H:i:s') : '' }}</span></strong>
                    </p>
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">

                        <a href="{{ path('centre_show', {'id': centre.id}) }}"> <span>More info</span></a>

                    </div>
                    <br>


                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

    {% endfor %}


{% endblock %}



