{% extends 'front_base.html.twig' %}


{% block title %}ordonnance{% endblock %}

{% block body %}

    <center><h1>ordonnance</h1></center>

    <div class="card-body">
        <div class="table-responsive">
            {% for ordo in conseils %}
                {% if app.user.email == ordo.email %}

            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered"  width="100%" cellspacing="0">

                        <thead>
                        <br>

                        <th>ref</th>
                        <th>remarques</th>
                        <th>date redaction</th>
                        <th>date expiration</th>
                        <th>nom_derma</th>

                        </thead>
                        <tbody  >

                        <tr>
                            <td>{{ ordo.reference }}</td>
                            <td>{{ ordo.remarques }}</td>
                            <td>{{ ordo.datered|date("Y/m/d")}}</td>
                            <td>{{ ordo.datelimite|date("Y/m/d") }}</td>
                            <td>{{ ordo.nomderma }}</td>
                        </tr>

                        </tbody>
                    </table>
        </div>
    </div>
                     {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
