<!DOCTYPE html>

<title>CategorieCentre index</title>

{% block body %}
    <h1>CategorieCentre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Specialite</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_centre in categorie_centres %}
            <tr>
                <td>{{ categorie_centre.id }}</td>
                <td>{{ categorie_centre.type }}</td>
                <td>{{ categorie_centre.specialite }}</td>
                <td>{{ categorie_centre.localisation }}</td>
                <td>
                    <a href="{{ path('categorie_centre_show', {'id': categorie_centre.id}) }}">show</a>
                    <a href="{{ path('categorie_centre_edit', {'id': categorie_centre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_centre_new') }}">Create new</a>
{% endblock %}
